.card-deck {
    .itemCol {
        margin: 0;
        border: 0;
        // display: inline;

        .itemCol__body {
            margin: 2rem 0;
            padding: 0;

        }



    }
}