button {
    &.btn {
        &-default {
            color: $brand-primary; 
            background: transparent;
            border-color: $brand-primary; 
            border-radius: 0;
            
            &:hover {
                color: #fff;
                background: $brand-primary;
            }
        }
    }
}