// Variables
$headerFont: "MADE Evolve Sans";
$bodyFont: "Droid Serif";

h1 {
    font-family: $headerFont;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: normal;
    letter-spacing: 0.01em;
}

h2 {
    font-family: $headerFont;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: normal;
}

h3 {
    font-family: $headerFont;
    font-family: MADE Evolve Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 1px;

}

h4 {
    font-family: $headerFont;
    font-family: MADE Evolve Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2px;
}

.body-paragraphs {
    font-family: $bodyFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.body-short-texts {
    font-family: $bodyFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.subline-default {
    font-family: $headerFont;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1px;
}

.button-text {
    font-family: $headerFont;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
}