@import 'src/styles/variables';

.dark-bg-nav {
    background-color: #663399;
}

.navagate {
    padding: 1.5rem 1rem;

    &.scrolled {
        padding: .7rem 1rem;

        .navbar-brand {
            img {
                height: 40px;
            }
        }
    }

    .navbar-brand {
        img {
            @include media-breakpoint-down(sm) {
                height: 40px;
            }
        }
    }

    transition: .3s;
}

.navbar-toggler {
    background-color: #f88c2a;
}

.navbar-nav {
    align-items: center;
}

.dropdown-item {
    &:active {
        background-color: transparent
    }

    &:hover {
        background-color: transparent
    }
}