// Price tiers
.card {
    background-color: #FAFAFA;
    padding: 0;
    margin-top: 1rem;


    .card-header {
        text-align: center;
        // resetting bootstrap card styling
        padding: 0;
        border: 0;
        background-color: transparent;

        &__title {
            padding: 1.78rem 0;
        }

        &__title>h3 {
            margin: 0;
        }

        &__tag {
            padding: 1.78rem;
        }
    }

    .card-body {
        // padding-top: 1.78rem;
        // padding-bottom: 1.78rem;
        padding: 1.78rem;

        &>ul {
            padding: 0;
        }

        &>ul>li {
            list-style-type: none;
            margin-bottom: 1.125rem;

            .list-icon {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 16px;
            }
        }

        .inact {
            fill: #919191;
            color: #919191;
        }

        .card-title {
            margin: 0;
        }

        .card-text {
            margin: 1rem 0 2rem 0;
        }
    }
}

// Other avaliable incorporation
.icon-text-container {
    display: flex;
    align-items: center;

    &>span {
        margin-left: .5rem;
        font-weight: 700;
    }
}

// FAQ
.list-group-item {
    padding: 1.5rem 1.3rem 1.5rem 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;

    .collaps-text {
        margin-bottom: 0;
    }
}