.card-body {

    .price-card-header {
        margin: 0;
    }

}

.card-footer {
    // background-color:
    text-align: center;
    background-color: #C4C4C4;
}



.gallery-grid {
    width: 100%;
    display: grid;
    grid-gap: 1.78rem;
    grid-template-columns: repeat(2, 50%);

    &__img {
        width: 100%;
    }
}