@import "../../styles/variables";
@import "../../styles/forms";

button {
    &.active {
        background: #121232;
        color: #fff;

        &:hover {
            background: transparent;
            color: #121232;
            border: 1px solid #121232;
        }
    }

    &.btn--inactive {
        border: 1px solid #000;
        border-radius: 4px;
    }
}

.modal {
    .upload-btn {
        font-family: 'Open Sans', sans-serif;
        width: 165px;
        font-size: 14px;
        padding: 12px 0;
        line-height: 16px;
        vertical-align: middle;
        letter-spacing: 0.5px;
        height: 43px;
    }

    .btn {
        &.active {
            background: #121232;
            color: #fff;

            &:hover {
                background: transparent;
                color: #121232;
                border: 1px solid #121232;
            }
        }

        &-grey {
            background: #DADADA;
            font-family: 'Open Sans', sans-serif;
            font-style: 'semi-bold';
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            display: flex;
        }
    }
}

form {
    label {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
    }

    p {
        font-family: 'Made Evolve Sans Regular';
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.05em;
    }

    .btn--category {
        width: 200px;
        font-size: 14px;
        height: 48px;
        padding: 0 32px;
    }

    .title {
        font-family: 'MADE Evolve Sans Regular';
        font-size: 36px;
        line-height: 43px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: #000000;
        font-weight: 600;
    }
}

#incorporation {
    .progress-bar {
        background: #495057;
    }

    form {
        label {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
        }

        .title {
            font-family: 'MADE Evolve Sans Regular';
            font-size: 36px;
            line-height: 43px;
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            color: #000000;
        }

        p {
            font-family: 'Made Evolve Sans Regular';
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.05em;
        }

        .share-info {
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            padding: 0 1rem;
            background: #F2F2F2;
            border-radius: 2px;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: #333;
        opacity: .4;
    }

    h1 {
        @include media-breakpoint-down(sm) {
            font-size: 2.5rem;
        }
    }

    .breadcrumb {
        &.collapsed {
            li {
                overflow: hidden;

                &:after a {
                    background: rgb(227, 227, 227);
                    background: linear-gradient(90deg, rgba(227, 227, 227, 0.4) 0%, rgba(227, 227, 227, 1) 35%);
                    padding-left: 1em;
                }

                a {
                    max-width: 2em;
                    transition: max-width 800ms ease-in-out;
                }

                a:focus,
                &:hover a {
                    max-width: 1000px;
                }

                &:hover:after {
                    padding-left: 0em;
                    background: transparent;
                }

                &.active a {
                    font-weight: 900;
                }
            }
        }

        .breadcrumb-item {
            display: inline-block;
            position: relative;
            padding-right: 2em;
            margin: 0;

            a {
                text-decoration: none;
                display: inline-block;
                color: #333;
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }

            &::before a {
                content: ">";
            }

            &:first-child:before a {
                content: "";
            }

            &.active {
                a {
                    max-width: 1000px;
                    text-decoration: none;
                }
            }
        }
    }

    .label {
        opacity: .7;
    }
}


.form-control::placeholder {
    color: #eee
}