.member-card {
    background-color: transparent;
    margin-top: 1rem;
    border: 0;

    &__body {
        padding-left: 4px;
        margin: 1.33rem 0;
    }

    &__footer {
        padding-left: 4px;
    }
}