.custom-link {
    padding: 4px 1px;
    border-radius: 1px;
    border-bottom: 2px solid orange;
    -webkit-transition: border-width .1s ease-in-out 0s;
    transition: border-width .1s ease-in-out 0s;

    &:hover {
        color: transparent;
        text-decoration: none;
        border-width: 4px;
    }
}