.service-rol {
    padding: 0;

    .service-card {
        background-color: #fafafa;
        margin: 1rem;
        border: 0;

        &__img {
            width: 100%;
        }

        &__body {
            padding: 1.76rem 1.125rem;
            background-color: #fafafa;
            &__header {
                margin-bottom: 1.5rem;
            }
        }

        &__footer {
            text-align: center;
            background-color: transparent;
            padding: 0;

            &__pricingBox {
                background-color: #ff6964;
                padding: 0.5rem 0;
            }

            &__cta {
                padding: 1rem 0;
                background-color: #f88c2a;

                &:hover {
                    background-color: #ffab2e;
                }
            }
        }
    }
}
