.service-rol {
    padding: 0;

    .service-card {
        background-color: #FAFAFA;
        margin: 1rem;

        &__img {
            width: 100%;
        }

        &__body {
            padding: 1.76rem 1.125rem;
        }

        &__footer {
            text-align: center;

            &__pricingBox {
                background-color: #FF6964;
                padding: .86rem 0;
            }

            &__cta {
                padding: 1.78rem 0;
                background-color: #F88C2A;

                &:hover {
                    background-color: #FFAB2E;
                }
            }
        }

    }
}